body {
	font-family: font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

.backgroundbar {
	background-color: #00240B;
	color: #F4AD15;
	height: 62px;
}

.logoheader a{
	background-image: url("../imgs/logo_header.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 165px;
	margin-top: 12px;
	margin-right: 20px;
	margin-left: 15px;
}

.botonesbarra_izq li a{
	color: #F4AD15;
	padding-top: 22px;
	height: 62px;
	font-weight: 700;
}

.botonesbarra_izq a:hover {
	color: #00240B;
	background-color: #F4AD15 !important; 
}

.botonesbarra_der li a{
	color: #F3E979;
	padding-top: 22px;
	height: 62px;
	font-weight: 700;
}

.botonesbarra_der a:hover {
	color: #00240B;
	background-color: #F3E979 !important;
}

.background-about {
	border-bottom: solid 1px #00240B;
}

h2 {
	font-weight: 700;
	color: #F4AD15;
	font-size: 40px;
	padding-bottom: 30px;
}

h3 {
	font-weight: 700;
	color: #00240B;
	font-size: 35px;
}

h4 {
	font-weight: 700;
	color: #F4AD15;
	font-size: 25px;
}

p {
	font-size: 20px;
	color: #00240B;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0px;
}

.small {
	font-size: 20px;
	color: #F4AD15;
	padding-bottom: 15px;
	margin: 0px;
}

.item .foto-principal {
	 margin: 0 auto;
	 padding-left: 30px;
	 padding-right: 30px;
	 padding-bottom: 170px;
}

.logo-big {
	padding: 0px;
	padding-bottom: 50px;
}


.about h2 {
	padding-top: 0px;
	margin: 0 auto;
	padding-bottom: 15px;
}

.divisor {
	border-bottom: solid 1px #F4AD15;
	width: 50%;
	margin: 0 auto;
}

.about {
	padding-top: 60px;
	padding-bottom: 0px;
	text-align: center;
}

.about h2 {
	font-size: 55px;

}

.about h3 {
	padding: 0px;
	padding-bottom: 15px;
	margin: 0px;
}

.about p {
	padding-bottom: 5px;
	padding-top: 30px;
}

.about .img-responsive {
	margin: 0 auto;
	padding-bottom: 60px;
	padding-top: 45px;
}

.boton-pedidos{
	margin-bottom: 30px;
}

.sabores {
	padding-top: 60px;
	text-align: center;
	padding-bottom: 60px;
}

.sabores p {
	font-size: 17px;
	color: #00240B;
	border-bottom: solid 1px #F4AD15;
}

.sabor h3 {
	padding-top: 30px;
}

.sabores .img-responsive {
	margin: 0 auto;
	border: solid 3px #F4AD15;
	width: 240px;
}


.contacto {
	background-color: #00240B;
	padding-top: 60px;
	padding-bottom: 30px;
}

.contacto h2 {
	text-align: center;
}

.formulario {
	color: #F4AD15;
}

.formulario input {
	border: none;
}

.boton-pedidos {
	background-color: #F1E779;
	border: none;
	font-weight: 700;
	color: #00240B;
}

.formulario .btn, .boton-pedidos {
	background-color: #F1E779;
	border: none;
	font-weight: 700;
	color: #00240B;
	margin-bottom: 30px;
}

.formulario .btn:hover, .boton-pedidos:hover {
	background-color: #F4AD15;
}

.btn a {
	text-decoration: none;
	color: #00240B;
}

.mapa {
	padding-top: 23px;
}

.contenedor-mapa {
	border-radius: 5px;
	border: solid 2px #F4AD15; 
}

.mapa p {
	color: #F4AD15;
	font-size: 15px;
	padding-top: 15px;
}

footer {
	padding: 15px;
	padding-bottom: 10px;
	background-color: #00240B;
	text-align: right;
	color: #F4AD15;
	border-top: solid 1px #F4AD15;
}

.menu-mobile {
	background-color: #F3E979 !important;
	width: 30px !important;
    height: 4px !important;
    border-radius: 5px !important;
    margin-top: 6px !important;
}

.contenedor-toggle {
	margin-top: 4px;
}

@media only screen and (max-width: 766px) {
.collapsing, .in {
	background-color: #00240B;
	margin: 0px;
}

.collapsing ul li a, .in ul li a {
	color: #F4AD15 !important;
	border-top: solid 1px #F3E979 !important;
}

.collapsing ul li a:hover, .in ul li a:hover {
	color: #00240B !important;
	background-color: #F3E979 !important;
}

}
